<?xml version="1.0" encoding="UTF-8" ?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
    <mapping>
        <class-a>com.qweib.cloud.service.member.domain.corporation.SysCorporationDTO</class-a>
        <class-b>com.qweib.cloud.core.domain.SysCorporation</class-b>
        <field>
            <a>id</a>
            <b>deptId</b>
        </field>
        <field>
            <a>name</a>
            <b>deptNm</b>
        </field>
        <field>
            <a>pid</a>
            <b>deptPid</b>
        </field>
        <field>
            <a>level</a>
            <b>deptLevel</b>
        </field>
        <field>
            <a>path</a>
            <b>deptPath</b>
        </field>
        <field>
            <a>scale</a>
            <b>deptNum</b>
        </field>
        <field>
            <a>address</a>
            <b>deptAddr</b>
        </field>
        <field>
            <a>phone</a>
            <b>deptPhone</b>
        </field>
        <field>
            <a>desc</a>
            <b>deptDesc</b>
        </field>
        <field>
            <a>trade</a>
            <b>deptTrade</b>
        </field>
        <field>
            <a>head</a>
            <b>deptHead</b>
        </field>
        <field>
            <a>database</a>
            <b>datasource</b>
        </field>
        <field>
            <a>creator</a>
            <b>memberId</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.qweib.cloud.core.domain.SysCorporation</class-a>
        <class-b>com.qweib.cloud.service.member.domain.corporation.SysCorporationSave</class-b>
        <field>
            <a>deptNm</a>
            <b>name</b>
        </field>
        <field>
            <a>deptPid</a>
            <b>pid</b>
        </field>
        <field>
            <a>deptLevel</a>
            <b>level</b>
        </field>
        <field>
            <a>deptPath</a>
            <b>path</b>
        </field>
        <field>
            <a>deptNum</a>
            <b>scale</b>
        </field>
        <field>
            <a>deptAddr</a>
            <b>address</b>
        </field>
        <field>
            <a>deptPhone</a>
            <b>phone</b>
        </field>
        <field>
            <a>deptDesc</a>
            <b>desc</b>
        </field>
        <field>
            <a>deptTrade</a>
            <b>trade</b>
        </field>
        <field>
            <a>deptHead</a>
            <b>head</b>
        </field>
        <field>
            <a>memberId</a>
            <b>operatorId</b>
        </field>
    </mapping>

</mappings>