<?xml version="1.0" encoding="UTF-8" ?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
    <mapping>
        <class-a>com.qweib.cloud.service.member.domain.member.SysMemberDTO</class-a>
        <class-b>com.qweib.cloud.core.domain.SysLoginInfo</class-b>
        <field>
            <a>id</a>
            <b>idKey</b>
        </field>
        <field>
            <a>name</a>
            <b>usrNm</b>
        </field>
        <field>
            <a>memberName</a>
            <b>usrNo</b>
        </field>
        <field>
            <a>password</a>
            <b>usrPwd</b>
        </field>
        <field>
            <a>companyId</a>
            <b>fdCompanyId</b>
        </field>
        <field>
            <a>company</a>
            <b>fdCompanyNm</b>
        </field>
        <field>
            <a>mobile</a>
            <b>fdMemberMobile</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.qweib.cloud.service.member.domain.member.SysMemberDTO</class-a>
        <class-b>com.qweib.cloud.core.domain.SysMember</class-b>
        <field>
            <a>id</a>
            <b>memberId</b>
        </field>
        <field>
            <a>name</a>
            <b>memberNm</b>
        </field>
        <field>
            <a>mobile</a>
            <b>memberMobile</b>
        </field>
        <field>
            <a>password</a>
            <b>memberPwd</b>
        </field>
        <field>
            <a>job</a>
            <b>memberJob</b>
        </field>
        <field>
            <a>trade</a>
            <b>memberTrade</b>
        </field>
        <field>
            <a>head</a>
            <b>memberHead</b>
        </field>
        <field>
            <a>fans</a>
            <b>memberFans</b>
        </field>
        <field>
            <a>attentions</a>
            <b>memberAttentions</b>
        </field>
        <field>
            <a>blackList</a>
            <b>memberBlacklist</b>
        </field>
        <field>
            <a>hometown</a>
            <b>memberHometown</b>
        </field>
        <field>
            <a>graduated</a>
            <b>memberGraduated</b>
        </field>
        <field>
            <a>company</a>
            <b>memberCompany</b>
        </field>
        <field>
            <a>desc</a>
            <b>memberDesc</b>
        </field>
        <field>
            <a>activate</a>
            <b>memberActivate</b>
        </field>
        <field>
            <a>activeTime</a>
            <b>memberActivatime</b>
        </field>
        <field>
            <a>used</a>
            <b>memberUse</b>
        </field>
        <field>
            <a>creator</a>
            <b>memberCreator</b>
        </field>
        <field>
            <a>createTime</a>
            <b>memberCreatime</b>
        </field>
        <field>
            <a>loginTime</a>
            <b>memberLogintime</b>
        </field>
        <field>
            <a>loginNum</a>
            <b>memberLoginnum</b>
        </field>
        <field>
            <a>companyId</a>
            <b>unitId</b>
        </field>
        <field>
            <a>msgModel</a>
            <b>msgmodel</b>
        </field>
        <field>
            <a>database</a>
            <b>datasource</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.qweib.cloud.core.domain.SysMember</class-a>
        <class-b>com.qweib.cloud.service.member.domain.member.SysMemberSave</class-b>
        <field>
            <a>memberNm</a>
            <b>name</b>
        </field>
        <field>
            <a>memberMobile</a>
            <b>mobile</b>
        </field>
        <field>
            <a>memberPwd</a>
            <b>password</b>
        </field>
        <field>
            <a>memberJob</a>
            <b>job</b>
        </field>
        <field>
            <a>memberTrade</a>
            <b>trade</b>
        </field>
        <field>
            <a>memberHead</a>
            <b>head</b>
        </field>
        <field>
            <a>memberHometown</a>
            <b>hometown</b>
        </field>
        <field>
            <a>memberGraduated</a>
            <b>graduated</b>
        </field>
        <field>
            <a>memberCompany</a>
            <b>company</b>
        </field>
        <field>
            <a>memberDesc</a>
            <b>desc</b>
        </field>
        <field>
            <a>memberActivate</a>
            <b>activate</b>
        </field>
        <field>
            <a>memberActivatime</a>
            <b>activeTime</b>
        </field>
        <field>
            <a>memberUse</a>
            <b>used</b>
        </field>
        <field>
            <a>memberCreator</a>
            <b>operatorId</b>
        </field>
        <field>
            <a>memberCreatime</a>
            <b>createTime</b>
        </field>
        <field>
            <a>unitId</a>
            <b>companyId</b>
        </field>
        <field>
            <a>msgmodel</a>
            <b>msgModel</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.qweib.cloud.core.domain.SysMember</class-a>
        <class-b>com.qweib.cloud.service.member.domain.member.SysMemberUpdate</class-b>
        <field>
            <a>memberId</a>
            <b>id</b>
        </field>
        <field>
            <a>memberPwd</a>
            <b>password</b>
        </field>
        <field>
            <a>memberNm</a>
            <b>name</b>
        </field>
        <field>
            <a>memberJob</a>
            <b>job</b>
        </field>
        <field>
            <a>memberTrade</a>
            <b>trade</b>
        </field>
        <field>
            <a>memberHead</a>
            <b>head</b>
        </field>
        <field>
            <a>memberHometown</a>
            <b>hometown</b>
        </field>
        <field>
            <a>memberGraduated</a>
            <b>graduated</b>
        </field>
        <field>
            <a>memberDesc</a>
            <b>desc</b>
        </field>
        <field>
            <a>memberCreator</a>
            <b>operatorId</b>
        </field>
        <field>
            <a>unitId</a>
            <b>companyId</b>
        </field>
        <field>
            <a>memberCompany</a>
            <b>company</b>
        </field>
        <field>
            <a>memberCreatime</a>
            <b>createTime</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.qweib.cloud.service.member.domain.member.SysMemberSelectDTO</class-a>
        <class-b>com.qweib.cloud.core.domain.SysMemDTO</class-b>
        <field>
            <a>id</a>
            <b>memberId</b>
        </field>
        <field>
            <a>mobile</a>
            <b>memberMobile</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.qweib.cloud.service.member.domain.member.SysMemberDTO</class-a>
        <class-b>com.qweib.cloud.core.domain.SysMemDTO</class-b>
        <field>
            <a>id</a>
            <b>memberId</b>
        </field>
        <field>
            <a>mobile</a>
            <b>memberMobile</b>
        </field>
        <field>
            <a>database</a>
            <b>datasource</b>
        </field>
    </mapping>

</mappings>