<?xml version="1.0" encoding="UTF-8" ?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <mapping>
        <class-a>com.qweib.cloud.service.basedata.domain.config.SysNoticeDTO</class-a>
        <class-b>com.qweib.cloud.core.domain.SysNotice</class-b>
        <field>
            <a>id</a>
            <b>noticeId</b>
        </field>
        <field>
            <a>title</a>
            <b>noticeTitle</b>
        </field>
        <field>
            <a>type</a>
            <b>noticeTp</b>
        </field>
        <field>
            <a>updatedTime</a>
            <b>noticeTime</b>
        </field>
    </mapping>
    <mapping>
        <class-a>com.qweib.cloud.service.basedata.domain.config.SysNoticeDetailDTO</class-a>
        <class-b>com.qweib.cloud.core.domain.SysNotice</class-b>
        <field>
            <a>id</a>
            <b>noticeId</b>
        </field>
        <field>
            <a>title</a>
            <b>noticeTitle</b>
        </field>
        <field>
            <a>type</a>
            <b>noticeTp</b>
        </field>
        <field>
            <a>updatedTime</a>
            <b>noticeTime</b>
        </field>
        <field>
            <a>photo</a>
            <b>noticePic</b>
        </field>
        <field>
            <a>content</a>
            <b>noticeContent</b>
        </field>
    </mapping>
</mappings>