body {
    background: #f2f2f2;
    font: 400 12px "Microsoft YaHei UI", Arial, Helvetica, sans-serif;
}

.layui-fluid {
    padding: 15px;
}

.k-widget.k-numerictextbox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-combobox, .k-autocomplete, .k-maskedtextbox, .k-dropdowntree {
    width: 100%;
}

.k-button {
    padding: 5px 14px 6px 14px;
}

.k-colorpicker {
    width: inherit;
}

.k-flatcolorpicker {
    width: inherit;
}

.k-textbox {
    width: 100%;
}

.k-success {
    color: #fff;
    border-color: #43a047;
    background-color: #43a047;
}

.k-success:hover {
    color: #fff;
    border-color: #61a05c;
    background-color: #61a05c;
}

.k-warning {
    color: #fff;
    border-color: #ff5722;
    background-color: #ff5722;
}

.k-warning:hover {
    color: #fff;
    border-color: #ff984f;
    background-color: #ff984f;
}

.k-error {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
}

.k-error:hover {
    color: #fff;
    background-color: #e95c90;
    border-color: #e95c90;
}

.k-info {
    color: #fff;
    border-color: #1fb5ac;
    background-color: #1fb5ac;
}

.k-info:hover {
    color: #fff;
    border-color: #6bb7f3;
    background-color: #6bb7f3;
}

.k-success.ghost {
    color: #43a047;
    border: 1px solid #43a047;
    background-color: #fff;
}

.k-success.ghost:hover {
    color: #61a05c;
    border: 1px solid #61a05c;
    background-color: #fff;
}

.k-warning.ghost {
    color: #ff5722;
    border: 1px solid #ff5722;
    background-color: #fff;
}

.k-warning.ghost:hover {
    color: #ff984f;
    border: 1px solid #ff984f;
    background-color: #fff;
}

.k-error.ghost {
    color: #e91e63;
    background-color: #fff;
    border: 1px solid #e91e63;
}

.k-error.ghost:hover {
    color: #e95c90;
    background-color: #fff;
    border: 1px solid #e95c90;
}

.k-info.ghost {
    color: #2196f3;
    border: 1px solid #2196f3;
    background-color: #fff;
}

.k-info.ghost:hover {
    color: #6bb7f3;
    border: 1px solid #6bb7f3;
    background-color: #fff;
}

/*.k-checkbox-label{
    margin-top: 10px;
}

.k-checkbox-label:before {
    width: 17px;
    height: 17px;
}*/

.form-horizontal label:not(.k-radio-label,.k-checkbox-label):after {
    content: ":";
}

.k-header.uglcw-grid-required:before {
    content: "*";
    color: red;
}

.form-horizontal label.required:before {
    content: "*";
    color: red;
}

span.uglcw-err-msg {
    color: red;
}

ul.uglcw-radio {
    margin-top: 10px;
    vertical-align: middle;
}

ul.uglcw-radio.horizontal li {
    display: inline-block;
    margin-left: 10px;
    list-style: none;
    vertical-align: middle;
}

.uglcw-radio .k-radio-label:before {
    width: 16px;
    height: 16px;
}

.uglcw-radio .k-radio:checked + .k-radio-label:after {
    top: 3px;
    left: 3px;
}

span.k-widget.k-tooltip-validation {
    display: inline-block;
    width: 160px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    color: red;
}

.validator-msg,
.validator-msg .k-tooltip {
    position: static;
    display: inline-block;
}

/* hide validator tooltip callouts */
.validator-msg .k-tooltip .k-callout {
    display: none;
}

.k-tooltip-validation.k-invalid-msg {

}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.k-tooltip-validation .k-warning {
    display: none;
}

.el-message {
    z-index: 19891123;
}

.el-message-box__wrapper {
    z-index: 19891123;
}

.header .layui-card-body {
    padding: 5px 10px;
}

.header .layui-card-body .form-group {
    margin-bottom: 0 !important;
}

.header .layui-card-body .form-group:last-child:not(:first-child) {
    margin-top: 5px !important;
}

.layui-card-header.btn-group {
    padding-left: 0px;
    line-height: inherit;
    height: inherit;
}

.layui-card-header .bill-info {
    float: right;
    margin-top: 8px;
    font-weight: bold;
    display: inline-flex;
}

.layui-card-header .bill-info .no {
    color: gray
}

.layui-card-header .bill-info .status {
    margin-left: 10px;
    color: green;
}


.layui-card-body.full {
    padding: 0
}

.layui-layer-page .layui-layer-title {
    height: 32px;
    line-height: 32px;
    padding: 0 80px 0 10px;
}

.layui-layer-page .layui-layer-setwin {
    right: 10px;
    top: 10px;
}


.uglcw-grid .k-grid-toolbar, .k-grouping-header {
    padding: 0;
}

.uglcw-grid .k-header.k-grid-toolbar {
    background-color: #f8f9fa;
    border-color: #dde2e7;
}

.uglcw-grid .k-header.k-grid-toolbar .k-button:first-child {
    margin-left: 10px !important;
}

.uglcw-grid .k-header.k-grid-toolbar .k-button {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #444;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.uglcw-grid .k-header.k-grid-toolbar .k-button:hover {
    color: #444;
    border-color: #ebebeb;
    background-color: #ebebeb;
}

span.text-red {
    color: red;
}

.k-grid-header th.k-header {
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    padding: .5em .3em .5em .7em;
}

input[data-readonly] {
    pointer-events: none;
}

.uglcw-grid .k-grid-content td{
    font-family: 宋体, "Microsoft YaHei UI";
}

.uglcw-grid .k-grid-content td.uglcw-grid-editable {
    /*color: #38f;*/
}

/*.k-grid-header {
    background-color: rgba(0, 0, 0, .05) !important;
}*/
/*.k-grid-footer, .k-grid-footer td, .k-grid-header, .k-grid-header .k-header, .k-pager-numbers .k-state-selected, .k-pager-wrap, .km-pane-wrapper .k-grid-header .k-header {
    color: #444;
        background-color: #f2f2f2;
}*/

.k-grid-footer,.k-pager-wrap.k-grid-pager  {
    color: #838a9d;
}

.uglcw-grid.uglcw-small .k-grid-header th.k-header {
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    /*color: rgba(52, 52, 52, 0.98);*/
    padding: .3em .3em .3em .7em;
}

/*.k-grid .k-alt {
    background-color: #f2f2f2;
}*/


.uglcw-grid .uglcw-grid-checkbox {
    padding: 0 !important;
    text-align: center !important;
}

.uglcw-grid .uglcw-grid-checkbox .k-checkbox-label {
    margin-left: -18px;
}

.uglcw-grid .k-checkbox-label {
    margin-bottom: inherit;
}

/*.k-grid tbody tr{
    height: 32px!important;
}*/

.k-grid.uglcw-small td {
    padding-top: .3em;
    padding-bottom: .3em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.k-grid td {
    padding-top: .5em;
    padding-bottom: .5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uglcw-grid.none-header .k-grid-header {
    height: 0;
    border-bottom-width: 0;
    display: none;
    overflow: hidden;
}

.k-grid-norecords {
    height: 0 !important;
}

.k-grid-norecords-template {
    position: absolute !important;
}

.uglcw-grid.k-grid .k-edit-cell {
    padding: .2em 0 .1em;
}

/*.uglcw-grid .k-pager-wrap.k-grid-pager {
    padding: .2em 0 0 .5em;
}

.uglcw-grid .k-pager-sizes.k-label {
    padding: .2em
}

.uglcw-grid .k-pager-wrap .k-pager-numbers .k-state-selected {
    margin-top: -0.2em;
    line-height: 2.0em;
}*/

.uglcw-grid .k-command-cell .k-button {
    padding-top: 2px;
    padding-bottom: 2px;
}

.uglcw-grid td .k-button {
    padding-top: 2px;
    padding-bottom: 2px;
}

.uglcw-grid.uglcw-grid-compact td{
    padding-top: 0!important;
    padding-bottom: 0!important;
}

/*.uglcw-grid .k-grid-content tr td {
    border-width: 0 0 1px 1px !important;
}

.uglcw-grid .k-grid-content-locked tr td {
    border-right-width: 0;
}

.uglcw-grid tr.k-state-selected {
    color: #444;
    background-color: skyblue;
}*/

/*.uglcw-grid tr.k-state-selected > td {
    border-color: skyblue;
}

.uglcw-grid tr.k-state-selected:hover td {
    color: #444;
    background-color: skyblue;
}*/

textarea.k-textbox {
    text-indent: .8em;
}

.layui-layer-ico.layui-layer-close.layui-layer-closetrue {
    background-position: 0px -40px;
}

.uglcw-selector-container {
    padding: 2px 10px 0px 10px;
}

.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn {
    padding: 0 15px 5px !important;;
}


.uglcw-selector-container .criteria {
    padding: 2px 0px 5px 0px;
}

.uglcw-selector-container .criteria .search-btn {
    margin-left: 5px;
}

.uglcw-selector-container .criteria .k-widget {
    width: 150px;
    margin-right: 5px;
}

.uglcw-selector-container .criteria .k-textbox {
    width: 150px;
    margin-right: 5px;
}

.k-file-extension-wrapper, .k-multiple-files-extension-wrapper {
    width: 28px;
}

.k-file-extension-wrapper .k-file-extension {
    margin-left: .2em;
}

.upload-container {
    padding: 5px 10px 5px 5px;
}

.upload-container .k-upload {
    /*display: none;*/
}

.drop-zone {
    position: relative;
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px dashed #ded8d8;
    width: 100%;
    height: 110px;
    text-align: center;
}

.text-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 24px;
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.drop-file-here {
    color: #c7c7c7;
    text-transform: uppercase;
    font-size: 12px;
}

.upload-container .k-icon.k-i-plus {
    font-size: 40px;
    color: #b7b0b0;
}

.uglcw-accordion.k-panelbar > .k-item > .k-link {
    line-height: 2.5em;
}

.uglcw-accordion li.accordion-item .k-content {
    padding: 10px 20px 10px 20px;
    background-color: #fff;
}

.uglcw-accordion li.accordion-item.k-state-active .k-header {
    color: #38f;
}

.uglcw-resizable::-webkit-scrollbar {
    width: 0 !important;
}

.uglcw-accordion li.accordion-item .k-content::-webkit-scrollbar {
    width: 0 !important;
}

.header .q-box-wrapper .q-box-main .form-group {
    margin-bottom: 0px !important;
}

.q-box-wrapper {
    margin-right: 200px;
}

.q-box-more {
    display: none;
    margin-top: 5px;
    left: 0;
    width: 100%;
    position: absolute;
    margin-right: 200px;
    z-index: 99;
    background: #fff;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, .2);
    padding: 0 10px 5px !important;
    box-sizing: border-box;
}

.q-box-more .form-group {
    margin-bottom: 5px !important;
}

.q-box-more .form-group:last-child {
    margin-bottom: 0 !important;
}

.q-box-button {
    width: 200px;
    position: fixed;
    right: 0;
    top: 20px;
}

.q-box-button .q-box-arrow {
    padding: 6px;
}

.q-box-main {
}

.box-shadow {
    box-shadow: 2px 0 8px rgba(0, 0, 0, .2);
}

.q-box-more-left {
    margin-right: 200px;
}

.form-group {
    margin-bottom: 5px;
}

.layui-card {
    margin-bottom: 5px;
}

.uglcw-tabstrip.k-tabstrip {
    background-color: #fff;
}

.uglcw-tabstrip .k-tabstrip-items {
    height: 31px;
    line-height: 31px;
    padding: 2px 0px 1px 2px;
}

.uglcw-tabstrip .k-tabstrip-items .k-item {
    background-color: #fff
}

.uglcw-tabstrip .k-tabstrip-items .k-item.k-state-hover {
    background-color: #fff;
    border-bottom: 2px solid #2196f3;
}

.uglcw-tabstrip .k-tabstrip-items {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1)
}

.uglcw-tabstrip .k-tabstrip-items li {
    height: 30px;
    line-height: 30px;
}

.uglcw-tabstrip .k-tabstrip-items li.k-state-active {
    border: none;
    border-bottom: 2px solid #2196f3;
    color: #2196f3;
    height: 30px;
    line-height: 30px;
}

.uglcw-tabstrip .k-tabstrip-items li.k-state-active .k-link {
    color: #2196f3;
    font-size: 14px;
    font-weight: bold;
}

.uglcw-tabstrip .k-tabstrip-items li .k-link {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.uglcw-tabstrip .k-tabstrip-items li .k-loading {
    display: none;
}

.uglcw-tabstrip .k-tabstrip-items li .k-loading.k-complete {
    -webkit-animation: inherit
}

.uglcw-tabstrip.k-tabstrip .k-content {
    margin-top: 1px;
    border: none;
}

.k-grid .k-icon {
    opacity: 0.9;
}

.uglcw-tree .k-in {
    padding: 2px 5px 2px 5px;
}

.uglcw-album {
    display: inline-flex;
}

.uglcw-album .album-list {
    padding: 0 !important;
    border: none !important;
}

.uglcw-album .album-item.album-placeholder {
    opacity: .8;
}

.uglcw-album .album-select {
    z-index: 999;
    height: 20px;
    position: fixed;
    margin-top: 2px;
}

.album-item {
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    margin-right: 4px;
}

.album-item img {
    width: 100%;
    height: 100%;
}

.album-item:hover .album-item-cover {
    display: block;
}

.album-item-cover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.album-item-cover i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
}

.album-add {
    margin-top: 2px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #fff;
    border: 1px dashed #dcdee2;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: border-color .2s ease;
}

.album-add:hover {
    border: 1px dashed #39f;
}

.album-add i {
    color: #444;
    font-size: 30px;
}

.uglcw-album .k-widget.k-upload {
    display: none;
}

.cropper-wrapper {
    padding: 10px;
    width: 600px;
    height: 300px;
}

.cropper-wrapper .img-box {
    height: 300px;
    width: 400px;
    border: 1px solid #ebebeb;
    display: inline-block;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.cropper-wrapper .img-box img {
    max-width: 100%;
    display: block;
}

.cropper-wrapper .right-con {
    display: inline-block;
    width: 170px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 10px;
}

.cropper-wrapper .right-con .preview-box {
    height: 150px !important;
    width: 100% !important;
    overflow: hidden;
    border: 1px solid #ebebeb;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.cropper-wrapper .right-con .button-box {
    padding: 10px 0 0;
}

.cropper-wrapper .right-con .button-box .k-button {
    margin-bottom: 10px;
}

.uglcw-layout-container {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.uglcw-layout-container > * {
    display: table-cell;
    vertical-align: top;
}

.uglcw-layout-fixed {
    padding-right: 16px;
    margin-left: 10px;
    position: relative;
}

.uglcw-layout-fixed .uglcw-layout-toggle-bar {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    cursor: pointer;
    background: 0;
    border-radius: 2px;
    transition: background-color .2s;
    text-align: center;
}

.uglcw-layout-fixed .uglcw-layout-toggle-bar .k-icon {
    top: 50%;
    margin-top: -20px;
    width: 16px;
    height: 40px;
    background-color: #38F;
    color: #FFF;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
}

.uglcw-layout-fixed .uglcw-layout-toggle-bar:hover {
    background: rgba(0, 0, 0, .075);
}

.uglcw-layout-container .uglcw-layout-content {

}

.uglcw-notice {
    width: 335px;
    min-width: 335px;
    margin-right: 24px;
    position: fixed;
    top: 24px;
    right: 0;
    z-index: 1018;

}

.k-notification-info {
    border-top: 3px solid #2b98f3;
}

.k-notification-success {
    border-top: 3px solid #5fb662;
}

.k-notification-warning {
    border-top: 3px solid #f8c70d;
}

.k-notification-error {
    border-top: 3px solid #ff3448;
}


.uglcw-notice .k-widget.k-notification {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    background: #fff;
    line-height: 1;
    position: relative;
    overflow: hidden;
}

.uglcw-notice .uglcw-notice-close {
    position: absolute;
    right: 8px;
    color: #999;
    top: 11px;
    outline: 0;
}

.uglcw-notice .uglcw-notice-close .k-i-close {
    color: #999;
    transition: color .2s ease;
    position: relative;
    top: -3px;
    cursor: pointer;
}

.uglcw-notice .k-widget.k-notification .uglcw-notice-content {
    padding: 10px;
    position: relative;
}

.uglcw-notice .k-widget.k-notification .uglcw-notice-content .uglcw-notice-icon {
    position: absolute;
    top: 6px;
    font-size: 36px;
}

.uglcw-notice .k-widget.k-notification .uglcw-notice-content .uglcw-notice-icon .k-icon {
    font-weight: 400;
    font-size: 36px;
}

.uglcw-notice .k-widget.k-notification .uglcw-notice-content .uglcw-notice-icon.uglcw-notice-none-desc {
    top: 6px;
    font-size: 20px;
}

.uglcw-notice .k-widget.k-notification .uglcw-notice-content .uglcw-notice-icon.uglcw-notice-none-desc .k-icon {
    font-size: 20px;
}

.uglcw-notice .k-widget.k-notification .uglcw-notice-content .uglcw-notice-title {
    margin-left: 51px;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
    color: #17233d;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uglcw-notice .k-widget.k-notification .uglcw-notice-content .uglcw-notice-desc {
    margin-top: 2px;
    margin-left: 51px;
    font-size: 12px;
    line-height: 1.5;
    color: #515a6e;
    text-align: justify;
}


.k-checkbox-label:after, .k-checkbox-label:before {
    box-sizing: content-box;
    width: 14px;
    height: 14px;
    line-height: 14px;
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
    top: 4px;
    left: 4px;
}


.k-checkbox:checked + .k-checkbox-label:before, .k-checkbox:checked + .k-checkbox-label:hover:before, .k-checkbox:checked:hover + .k-checkbox-label:before {
    border-color: #2196f3;
    border-radius: 3px;
}

.k-checkbox:checked + .k-checkbox-label:before {
    background-color: #2196f3;
    border-color: #2196f3;
    color: #fff;
    border-radius: 2px;
}

.k-checkbox:indeterminate + .k-checkbox-label:before {
    border-color: #2196f3;
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
    background-color: #2196f3;
    background-image: none;
    border-color: #2196f3;
    border-radius: 0;
}

.k-radio:checked + .k-radio-label:before, .k-radio:checked + .k-radio-label:hover:before {
    border-color: #2d8cf0;
}

.k-radio:checked + .k-radio-label:after {
    background-color: #2d8cf0;
    border-radius: 50%;
}

.k-calendar > .k-header {
    background-color: #2d8cf0;
}

.k-calendar > .k-header .k-link.k-state-hover {
    background-color: #1c77f0;
}

.k-calendar td.k-state-selected .k-link {
    border-color: #2d8cf0;
    color: #fff;
    background-color: #2d8cf0;
    background-image: none;
}

.k-button-group li.k-button {
    margin-left: 4px !important;
    border-radius: 2px;
}

.uglcw-grid-editable.k-edit-cell .k-combobox-clearable .k-input {
    padding-right: 2px !important;
}

.uglcw-grid-editable.k-edit-cell .k-combobox .k-dropdown-wrap .k-select {
    width: 1.2em !important;
}

.uglcw-grid-editable.k-edit-cell .k-combobox .k-dropdown-wrap {
    padding-right: 1.2em !important;
}

.uglcw-grid-editable.k-edit-cell .k-combobox > .k-dropdown-wrap > .k-i-close {
    right: 1.5em;
}

.uglcw-grid-editable.k-edit-cell .k-dropdown-clearable .k-input {
    padding-right: 2px !important;
}

.uglcw-grid-editable.k-edit-cell .k-dropdown .k-dropdown-wrap .k-select {
    width: 1.2em !important;
}

.uglcw-grid-editable.k-edit-cell .k-dropdown .k-dropdown-wrap {
    padding-right: 1.2em !important;
}

.uglcw-grid-editable.k-edit-cell .k-dropdown > .k-dropdown-wrap > .k-i-close {
    right: 1.5em;
}

.k-datetimepicker .k-select {
    display: none;
}

.k-datetimepicker .k-picker-wrap {
    padding: 0;
}

.k-datepicker > .k-picker-wrap > .k-i-close {
    top: 50%;
    transform: translateY(-50%);
    right: calc(3.67142857em - 8px);
    position: absolute;
    outline: 0;
    font-size: 100%;
    display: none;
}

.k-datetimepicker > .k-picker-wrap > .k-i-close {
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    position: absolute;
    outline: 0;
    font-size: 100%;
    display: none;
}

.k-datetimepicker > .k-picker-wrap > .k-i-close {
    right: 0;
}

.k-datetimepicker-clearable .k-input, .k-datepicker-clearable .k-input {
    padding-right: 1em;
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 2px;
}

.k-textbox.k-textbox-clearable > input {
    padding-right: 1em;
}

.k-textbox.k-textbox-clearable > .k-i-close {
    top: 55%;
    right: 10px;
    position: absolute;
    outline: 0;
    font-size: 100%;
    display: none;
}

.k-gridselector > input {
    padding-right: 1em;
}

.k-gridselector > .k-i-close {
    top: 55%;
    right: 2em;
    position: absolute;
    outline: 0;
    font-size: 100%;
    display: none;
}

.k-gridselector.k-state-hover > .k-i-close {
    display: inline-block;
}

.k-datetimepicker > .k-picker-wrap.k-state-hover .k-i-close, .k-datepicker > .k-picker-wrap.k-state-hover .k-i-close {
    display: inline-block;
}

.k-textbox.k-textbox-clearable.k-state-hover > .k-i-close {
    display: inline-block;
}

.uglcw-grid.k-grid tbody .k-button {
    background: transparent;
    color: #38f;
    border: none;
    min-width: 50px;
    margin: 0;
    padding: 5px 8px 6px;
}

.uglcw-grid.k-grid tbody .k-button:hover {
    box-shadow: none;
    color: #1a4cff;
}

.uglcw-grid.k-grid tbody .k-button:focus {
    box-shadow: none;
    color: #1a4cff;
}

/*.uglcw-grid .k-grid-content td.k-state-focused {
    background-color: #87ceeb;
    color: #000;
}*/

.uglcw-grid .k-grid-content .uglcw-grid-readonly {
    position: relative;
}

.uglcw-grid .k-grid-content .uglcw-grid-readonly .k-dirty {
    margin: 0;
    left: 0;
    top: 0;
}

.k-button {
    font-size: 13px;
}

.k-grid tr.k-state-selected {
    /*background: #fff3e0;*/
    background-color: rgba(0, 123, 255, .25);
    color: #212529;
}

.k-grid tr.k-state-selected:hover {
    /*background: #ffebbc;*/
    color: #212529;
    background-color: rgba(0, 123, 255, .35);
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    margin-top: inherit;
}

.k-grid tbody tr.k-state-hover, .k-grid tbody tr:hover {
    background-color: #e9f2fb;
}

td.k-state-selected, tr.k-state-selected > td {
    border-color: inherit;
}

.k-grid .k-grid-content-locked tr.k-state-selected .uglcw-grid-checkbox:before {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 3px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    /* width: 0; */
    content: '';
    background: #0c64eb;
    /* opacity: 0; */
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    -webkit-transition-property: width, opacity, border-radius;
    -o-transition-property: width, opacity, border-radius;
    transition-property: width, opacity, border-radius;
}

.k-grid tr td.k-edit-cell:first-child {
    padding-left: 5px;
}

.k-grid.uglcw-grid-locked .k-grid-content-locked tr.k-state-selected td:first-child:before {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 3px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    background: #0c64eb;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    -webkit-transition-property: width, opacity, border-radius;
    -o-transition-property: width, opacity, border-radius;
    transition-property: width, opacity, border-radius;
}

.k-grid.uglcw-grid-unlocked .k-grid-content tr.k-state-selected td:first-child:before {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 3px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    background: #0c64eb;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    -webkit-transition-property: width, opacity, border-radius;
    -o-transition-property: width, opacity, border-radius;
    transition-property: width, opacity, border-radius;
}

.uglcw-query {
    display: inline-block;
}

.uglcw-query > li {
    list-style: none;
    width: 140px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.uglcw-query .query-solution-list{
    display: inline-flex;
    margin-top: 5px;
    line-height: 2.42142857em;
    vertical-align: middle;
}

.uglcw-query li.query-solution-item{
    width: auto!important;
    line-height: 33px;
    cursor: pointer;
}

.layui-card.header .layui-card-body {
    line-height: inherit;
}

.uglcw-autocomplete-selectable {
    padding-right: 2em;
}

.uglcw-autocomplete-selectable .k-select.k-icon {
    right: 3px;
    top: 50%;
    margin: -8px 0 0;
    position: absolute;
}

.uglcw-autocomplete-selectable .k-i-loading {
    right: .3em;
    bottom: .4em;
}

.uglcw-autocomplete-selectable span.k-i-close {
    right: 2.5em;
}

.k-pager-wrap.k-pager-md .k-pager-info, .k-pager-wrap.k-pager-sm .k-pager-info {
    display: block;
}

.uglcw-grid.k-grid tbody .k-button {
    background: transparent;
    color: #38f;
    border: none;
    min-width: 50px;
    margin: 0;
    padding: 5px 8px 6px;
}

.uglcw-grid.k-grid tbody .k-button:hover {
    box-shadow: none;
    color: #1a4cff;
}

.uglcw-grid.k-grid tbody .k-button:focus {
    box-shadow: none;
    color: #1a4cff;
}

.uglcw-grid .k-grid-content td.k-state-focused {
    color: #000;
}

.uglcw-grid .k-grid-content .uglcw-grid-readonly {
    position: relative;
}

.uglcw-grid .k-grid-content .uglcw-grid-readonly .k-dirty {
    margin: 0;
    left: 0;
    top: 0;
}

.k-button {
    font-size: 13px;
}

.layui-fluid {
    padding: 5px 15px;
}

.uglcw-grid.k-grid .k-command-cell .k-button {
    color: #38f;
}

.uglcw-grid.k-grid .k-command-cell .k-button {
    padding: 0;
    height: 20px;
    width: 20px;
    border: .13em solid #38f;
    opacity: 0.9;
    border-radius: 1px;
    margin: 5px;
    min-width: inherit;
}

.uglcw-grid.k-grid .k-command-cell .k-button:hover {
    border: .13em solid #38f;
}

.uglcw-grid.k-grid .k-command-cell .k-button .k-icon {
    margin: 0 auto;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 1000ms infinite;
    -webkit-animation: fade 1000ms infinite;
}

.page-list .actionbar .k-button:hover{
    box-shadow: none;
    background: #ebebeb;
    text-decoration: none;
}
.page-list .actionbar .k-button{
    text-decoration: none;
    background-color: #fafafa;
    border-color: #fafafa;
    color: #444;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.page-list .uglcw-grid td{
    padding-left: 2px;
    padding-right: 2px;
}
.page-list .uglcw-grid.k-grid tbody .k-button{
    padding-left: 0;
    padding-right: 0;
    min-width: inherit;
}

.page-list .actionbar .k-button.primary{
    color: #FFF;
    background: #38F
}

/*.k-autocomplete,.k-multiselect-wrap, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default, .k-textbox, .k-picker-wrap.k-state-default{
    border-color: #c8c8c8;
}*/
.uglcw-hide-cell{
    display: none;
}
.uglcw-hide-cell.uglcw-rendering{
    display: block;
}