.menuConfigLeftBar{width:100%;}

.menuConfigLeftBar dd{ line-height:25px; height:25px; 
border-bottom:1px dotted #ccc; padding-left: 5px;}

.menuConfigLeftBar dd a{ 
	color:#2a2a2a; text-decoration:none; padding-left:22px;
	 display:block; 
	 height:16px; line-height:16px; margin-top:6px;}
	 
	 
	 