.k-grid-footer {
    font-weight: bold;
    font-size: 13px;
}

.col-xs-4, .col-xs-3, .col-xs-11, .col-xs-18 {
    padding-right: 0;
}

body::-webkit-scrollbar {
    width: 0 !important;
}

@media (max-width: 1368px) {
    .master .col-xs-3 {
        width: 10%;
    }

    .master .col-xs-4 {
        width: 20%;
    }

    .master .col-xs-11 {
        width: 50%;
    }

    .master .col-xs-18 {
        width: 80%;
    }
}
